# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [3]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [4]:
"""
Your Code Here
"""

from sklearn.preprocessing import OneHotEncoder

In [5]:
onehotencoder = OneHotEncoder()
x = onehotencoder.fit_transform(sub_train)
pd.DataFrame(x.toarray())

          0    1    2    3    4    5    6
0       0.0  0.0  0.0  0.0  0.0  0.0  1.0
1       0.0  1.0  0.0  0.0  0.0  0.0  0.0
2       0.0  1.0  0.0  0.0  0.0  0.0  0.0
3       0.0  0.0  0.0  0.0  0.0  0.0  1.0
4       0.0  0.0  0.0  0.0  1.0  0.0  0.0
5       0.0  0.0  0.0  0.0  0.0  0.0  1.0
6       0.0  0.0  0.0  1.0  0.0  0.0  0.0
7       0.0  1.0  0.0  0.0  0.0  0.0  0.0
8       0.0  0.0  0.0  0.0  0.0  0.0  1.0
9       0.0  0.0  0.0  0.0  1.0  0.0  0.0
10      0.0  0.0  1.0  0.0  0.0  0.0  0.0
11      1.0  0.0  0.0  0.0  0.0  0.0  0.0
12      1.0  0.0  0.0  0.0  0.0  0.0  0.0
13      0.0  0.0  0.0  0.0  1.0  0.0  0.0
14      0.0  1.0  0.0  0.0  0.0  0.0  0.0
15      0.0  0.0  1.0  0.0  0.0  0.0  0.0
16      0.0  0.0  0.0  0.0  1.0  0.0  0.0
17      0.0  1.0  0.0  0.0  0.0  0.0  0.0
18      1.0  0.0  0.0  0.0  0.0  0.0  0.0
19      0.0  1.0  0.0  0.0  0.0  0.0  0.0
20      1.0  0.0  0.0  0.0  0.0  0.0  0.0
21      0.0  1.0  0.0  0.0  0.0  0.0  0.0
22      0.0  0.0  0.0  0.0  1.0  0.0  0.0
23      1.0  0.0  0.0  0.0  0.0  0.0  0.0
24      0.0  0.0  0.0  0.0  1.0  0.0  0.0
25      0.0  0.0  1.0  0.0  0.0  0.0  0.0
26      0.0  1.0  0.0  0.0  0.0  0.0  0.0
27      0.0  0.0  1.0  0.0  0.0  0.0  0.0
28      0.0  0.0  0.0  0.0  0.0  0.0  1.0
29      0.0  0.0  0.0  0.0  0.0  1.0  0.0
...     ...  ...  ...  ...  ...  ...  ...
307481  1.0  0.0  0.0  0.0  0.0  0.0  0.0
307482  0.0  0.0  0.0  0.0  1.0  0.0  0.0
307483  0.0  1.0  0.0  0.0  0.0  0.0  0.0
307484  0.0  1.0  0.0  0.0  0.0  0.0  0.0
307485  0.0  0.0  1.0  0.0  0.0  0.0  0.0
307486  0.0  0.0  1.0  0.0  0.0  0.0  0.0
307487  0.0  0.0  0.0  0.0  0.0  0.0  1.0
307488  0.0  0.0  0.0  0.0  0.0  0.0  1.0
307489  1.0  0.0  0.0  0.0  0.0  0.0  0.0
307490  0.0  0.0  1.0  0.0  0.0  0.0  0.0
307491  0.0  0.0  1.0  0.0  0.0  0.0  0.0
307492  1.0  0.0  0.0  0.0  0.0  0.0  0.0
307493  0.0  1.0  0.0  0.0  0.0  0.0  0.0
307494  0.0  1.0  0.0  0.0  0.0  0.0  0.0
307495  0.0  0.0  0.0  0.0  0.0  0.0  1.0
307496  0.0  0.0  0.0  0.0  1.0  0.0  0.0
307497  0.0  0.0  0.0  0.0  1.0  0.0  0.0
307498  0.0  1.0  0.0  0.0  0.0  0.0  0.0
307499  0.0  0.0  0.0  0.0  0.0  1.0  0.0
307500  1.0  0.0  0.0  0.0  0.0  0.0  0.0
307501  0.0  0.0  0.0  0.0  0.0  0.0  1.0
307502  0.0  1.0  0.0  0.0  0.0  0.0  0.0
307503  0.0  0.0  1.0  0.0  0.0  0.0  0.0
307504  0.0  0.0  0.0  0.0  0.0  0.0  1.0
307505  0.0  1.0  0.0  0.0  0.0  0.0  0.0
307506  0.0  0.0  0.0  0.0  1.0  0.0  0.0
307507  0.0  1.0  0.0  0.0  0.0  0.0  0.0
307508  0.0  0.0  0.0  0.0  1.0  0.0  0.0
307509  0.0  0.0  0.0  0.0  0.0  0.0  1.0
307510  0.0  0.0  0.0  0.0  1.0  0.0  0.0

[307511 rows x 7 columns]